<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    
    <nav>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Logout</a></li>
            
        </ul>
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <hr>

    <footer>
        <p>&copy; 2023 URL Shortener. All rights reserved.</p>
    </footer>
</body>
</html>
